*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
body{
	background-image:url(photos/1557828360_5cda93080db57-thumb.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	font-family:Arial, Helvetica, sans-serif;
}
.menu-bar{
		background-color:#999999;
		text-align:center;
		
	}
.menu-bar ul{	
				display:inline-block;
				list-style:none;
				color:#fff;
}	
.menu-bar ul li{
					width:120px;
					margin:15px;
					padding:15px;
}
.menu-bar ul li a{					
					text-decoration:none;
					color:#002800;
}
.active, .menu-bar ul li:hover{
									background-color:#8080FF;
									border-radius:2px;
}
