#full{
	  width:100%;
	  height:auto;
}
#header{
		width:100%;
		height:150px;
		background-color:#FFFFFF;
}
#logo{
	  width:30%;
	  height:100px;
	  float:left;
}
#nav{
	 width:70%;
	 height:100px;
	 float:left;
}
ul li{
	  list-style:none;
	  float:left;
	  width:18%;
	  height:30px;
	  line-height:120px;
	  text-align:center;
}
a{
  text-decoration:none;
  color:#009900;
}
ul li a:hover{background-color:#99CCFF;
									border-radius:2px;
									display:inline;
}
h1{
   padding:10px;
}
#maindiv{
		width:100%;
		height:590px;
		position:absolute;
		left:50%;
		top:50%;
		transform:translate(-50%, -28%);
		background-size:100% 100%;
		box-shadow:1px 2px 10px 5px white;
		animation:slider 10s infinite;
}
@keyframes slider{
		    0%{ background-image:url(../Image/7560_ho_00_p_1024x768.jpg) }
			75%{ background-image:url(../Image/pool.jpg) }
			100%{ background-image:url(../Image/7560_ho_00_p_1024x768.jpg) }
}		

#footer{
		width:100%;
		height:100px;
		background-color:#FFFFFF;
		bottom:10px;
		position:absolute;
		top:745px;
		left:0px;
}